<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JDBCOpr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>com.simpli.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCStatementDemo</display-name>
    <servlet-name>JDBCStatementDemo</servlet-name>
    <servlet-class>com.simpli.JDBCStatementDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCStatementDemo</servlet-name>
    <url-pattern>/JDBCStatementDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDemo</display-name>
    <servlet-name>InsertDemo</servlet-name>
    <servlet-class>com.simpli.InsertDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDemo</servlet-name>
    <url-pattern>/InsertDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreparestatementDemo</display-name>
    <servlet-name>PreparestatementDemo</servlet-name>
    <servlet-class>com.simpli.PreparestatementDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreparestatementDemo</servlet-name>
    <url-pattern>/PreparestatementDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDropDatabaseDemo</display-name>
    <servlet-name>CreateDropDatabaseDemo</servlet-name>
    <servlet-class>com.simpli.CreateDropDatabaseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDropDatabaseDemo</servlet-name>
    <url-pattern>/CreateDropDatabaseDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTable</display-name>
    <servlet-name>CreateTable</servlet-name>
    <servlet-class>com.simpli.CreateTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTable</servlet-name>
    <url-pattern>/CreateTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeleteRecordsDemo</display-name>
    <servlet-name>UpdateDeleteRecordsDemo</servlet-name>
    <servlet-class>com.simpli.UpdateDeleteRecordsDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeleteRecordsDemo</servlet-name>
    <url-pattern>/UpdateDeleteRecordsDemo</url-pattern>
  </servlet-mapping>
</web-app>